body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #020917, #101725);
  }
  
  .content {
    display: flex;
    min-height: 100vh;
    line-height: 1.1;
    flex-direction: column;
    padding: 30px;
  }
  
  .content h1 {
    font-size: 3.6rem;
    font-weight: 700;
  }
  
  .content p {
    font-size: 1.0rem;
    font-weight: 400;
    
  }
  
  .content code {
    opacity: 0.5;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .navbar li:hover {
    text-decoration: underline;
  }
  
  .tab-content {
    padding: 20px;
  }
  